<div class="painel-chart painel-chart-heatmap">
  @if (hasData()) {
    <div class="painel-chart-heatmap__scroll">
      <table class="painel-chart-heatmap__table">
        <colgroup>
          <col class="painel-chart-heatmap__col-hour" />
          @for (dia of dias; track dia) {
            <col class="painel-chart-heatmap__col-day" />
          }
        </colgroup>
        <tbody>
          @for (row of grid(); track row.hora) {
            <tr>
              <th scope="row" class="painel-chart-heatmap__hour-cell">
                <div class="painel-chart-heatmap__hour">{{ row.horaLabel }}</div>
              </th>
              @for (c of row.cells; track c.key) {
                <td>
                  <div
                    class="painel-chart-heatmap__cell"
                    [class.painel-chart-heatmap__cell--on]="c.p.value > 0"
                    [class.painel-chart-heatmap__cell--hot]="c.hot"
                    [style.--heat-alpha]="c.heatAlpha"
                    [attr.aria-label]="c.dia + ' ' + row.horaLabel + ': ' + c.p.value"
                  >
                    {{ c.p.value }}
                  </div>
                </td>
              }
            </tr>
          }
        </tbody>
        <tfoot>
          <tr>
            <td class="painel-chart-heatmap__corner"></td>
            @for (dia of dias; track dia) {
              <th scope="col" class="painel-chart-heatmap__day">{{ dia }}</th>
            }
          </tr>
        </tfoot>
      </table>
    </div>
  } @else {
    <p class="painel-chart__empty">Sem dados no período</p>
  }
</div>
