@if (visible() && payload(); as tip) {
  <div
    class="painel-chart-tooltip"
    role="tooltip"
    [style.left]="style()['left']"
    [style.top]="style()['top']"
  >
    @if (tip.dataLabel) {
      <div class="painel-chart-tooltip__date">{{ tip.dataLabel }}</div>
    }
    @if (tip.valorLabel) {
      <div class="painel-chart-tooltip__value">{{ tip.valorLabel }}</div>
    }
    @if (tip.deltaLabel) {
      <div class="painel-chart-tooltip__delta">{{ tip.deltaLabel }}</div>
    }
    @if (tip.nota) {
      <div class="painel-chart-tooltip__nota">{{ tip.nota }}</div>
    }
  </div>
}
